{% extends 'base.html' %}

{% block content %}

<h3 style="width: 100%; display: flex; justify-content: center; align-items: center"> Hello! This Snack Pages lets you keep track of all your Snacks!</h3>
<h3 style="width: 100%; display: flex; justify-content: center; align-items: center"> Once you create one, you can update or delete it whenever you'd like.</h3>
<h4 style="width: 100%; display: flex; justify-content: center; align-items: center"> Navigate to the Snacks List to look at your existing snacks or click on Add a New Snack above.</h4>

{% endblock content %}